.user-card {
    display: block;
    font-family: Arial, sans-serif;
    border-radius: 8px;
    padding: 16px;
    max-width: 300px;
    margin: 20px;

    background: var(--picture-url);
    background-size: cover;

    h2 {
        margin-top: 0;
        color: #333;
    }

    img {
        display: none;
        border-radius: 8px;
    }

    p {
        color: #666;
    }
}

.user-card:hover {
    background-color: #f0f0f0;
    background-image: none;

    img {
        display: block;
    }
}