@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);

:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #eceff4;
    --text-secondary: #d8dee9;
    --bg-primary: #2e3440;
    --bg-secondary: #3b4252;
}

body {
    color: var(--text-primary);
    background: var(--bg-primary);
    margin: 0;
    padding: 0;
}

main {
    /* rem: unit relative to font size on root element */
    margin-left: 5rem;
    padding: 1rem;
}

.navbar {
    width: 5rem;
    height: 100vh;
    position: fixed;
    background: var(--bg-secondary);
    transition: width 300ms ease;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-item {
    width: 100%;
    color: var(--text-primary);
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link svg {
    min-width: 2rem;
    margin: 0 1.5rem;
}

.navbar:hover {
    width: 16rem;
}

.navbar:hover .link-text {
    display: block;
}

.mdi-primary {
    color: aqua !important;
}